{% extends 'base.html.twig' %}

{% block title %}Demo
{% endblock %}

{% block body %}
	<div class="ml-3 flex items-center flex-col">
		<h1 class="uppercase text-xl">Aide au choix d'une boisson</h1>
		<twig:FormDrink/>
	</div>
{% endblock %}
